:root{
  --bg-color:grey;
  --bg-card-yellow:#fee000; /*amarillo*/
  --bg-card-blue:#30afef; /*azul*/
  --bg-card-pink:#ec648d; /*rosa*/
  --bg-card-purple:#9e008c; /*morado */
  --bg-card-green:#39d850; /*verde*/
  --bg-card-red:#ff4e25; /*Rojo carnoso*/
  --bg-card-fluorpink:#ff14ce;
  --bg-card-fluoryellow:#ccff00; /*amarillo fluorescente*/
  --bg-card-fluorblue:#15f4ee;
  --bg-card-fluorgreen:#1eff14;
  --box-photo-height:60%;

}

body{
  background-color: var(--bg-color);
}

h1{
      font-family: 'Bungee Shade', cursive;
      font-size: 3rem;
      text-align: center;
}

.frontal{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.frontal .card{
  position: relative;
  width: 320px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  overflow:hidden;
  background-color: white;
}

.frontal .card:before{
  content:'';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s ease-in-out;
}

.frontal .fluoryellow:before{
  background: var(--bg-card-fluoryellow)
}
@keyframes coloresTexto{
	0% {color: rgb(240,0,0);text-shadow: 1px 1px 2px black; text-shadow: 0px 0px 5px rgb(126,0,0), 0px 0px 10px rgba(255,0,0,0)}
	25%{color: rgb(0,0,255);text-shadow: 1px 1px 2px black;text-shadow: 0px 0px 5px rgb(0,0,255), 0px 0px 10px rgba(255,0,0,1)}
	50%{color: rgb(0,255,0);text-shadow: 1px 1px 2px black;text-shadow: 0px 0px 5px rgb(0,255,0),0px 0px 10px rgba(255,0,0,0)}
	75%{color: rgb(0,255,255);text-shadow: 1px 1px 2px black;text-shadow: 0px 0px 5px rgb(0,255,255),0px 0px 10px rgba(255,0,0,1)}
	100%{color: rgb(255,0,0);text-shadow: 1px 1px 2px black;text-shadow: 0px 0px 5px rgb(126,0,0),0px 0px 10px rgba(255,0,0,0)}
}

h1{


	animation-name: coloresTexto;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

}
