  {% extends "layout.html" %}
  {% block content %}
    <h1>Tendencias:</h1>
    <div class="frontal">
      {% for post in posts.items %}
        <div class="card fluoryellow ">
          <div>
            <div class="tuit-header">
              <div>
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.autor.image_file) }}" alt="">
              </div>
              <h2 class="border-Text">{{post.titulo}}</h2>
            </div>
            <h6 class="border-Text">Publicado el <span>{{post.fecha.strftime('%d-%m-%Y')}}</span> por <span><a href="user/{{post.autor.username}}">{{post.autor.username}}</a></span> </h6>
            <p>{{post.contenido}}</p>
            <h5 class="border-Text">#tag #tag #tag</h5>
          </div>
        </div>
      {% endfor %}
    </div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
       {% if page_num %}
           {% if posts.page == page_num %}
               <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
           {% else %}
               <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
           {% endif %}
       {% else %}
           ...
       {% endif %}
    {% endfor %}
  {% endblock %}
