  {% extends "layout.html" %}
  {% block content %}
    <h1>Tendencias:</h1>

    <div class="frontal">
      {% for post in posts%}
        <div class="card fluoryellow ">
          <div>
            <h2 class="border-Text">{{post.titulo}}</h2>
            <h6 class="border-Text">Publicado el <span>{{post.fecha}}</span> por <span>{{post.autor}}</span> </h6>
            <p>{{post.contenido}}</p>
            <h5 class="border-Text">#tag #tag #tag</h5>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}
