<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% if title %}
    <title>Flask - {{title}}</title>
  {% else %}
    <title>Flask</title>
  {% endif %}
  </head>
  <body class="w3-grey">
    <div class="w3-bar w3-grey w3-card">
      <a href="/home" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="/nosotros" class="w3-bar-item w3-button"><i class="fa fa-question"></i></a>
      {% if current_user.is_authenticated %}
        <a href="/logout" class="w3-bar-item w3-button w3-right w3-black"><i class="fa fa-sign-out"></i></a>
      {% endif %}
      <a href="/login" class="w3-bar-item w3-button w3-right w3-green"><i class="fa fa-sign-in"></i></a>
      {% if current_user.is_authenticated %}
        <a href="/account" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="/post/new" class="w3-bar-item w3-button"><i class="fa fa-plus"></i></a>
      {% endif %}
    </div>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
